* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "widget-1 widget-2 sidebar"
						 "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 1200px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "widget-1 widget-1 widget-2"
						 "footer footer footer";
	}
}

.sidebar .imagenes img{
	width: 100%;
	height: auto;
	
}
#logo-header{
	width: 40px;
	height: 40px;
}


#main-header {
	background: #1226AA;
	color: white;
	height: 100px;
     
   width: 100%; 
   left: 0; 
   top: 0; 
   position: fixed; 
}	
#logo-header {
	float: left;
}
#logo-header:hover {
		color: yellow;
}
	
#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
}
	
#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
}

img{
   height: 100px;
   width: 120px;
   text-align: center;
}

body{

	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
   padding-top: 80px;
}

h1 {
	font-size: 3.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
   font-family: 'Grape Nuts', cursive;
   font-family: 'Open Sans', sans-serif;
   color: black;
}

p {
	margin: 0 0 1.5em 0;
}

nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 100px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
   color: aliceblue;
}
			
nav ul li a:hover {
   color: yellow;
}  

.maps{
   margin-left: auto;
}